
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Aspose Pty. Ltd.",
  "url": "{{$.Site.BaseURL}}",
  "logo": "https://cms.admin.containerize.com/templates/conholdate/img/svg/conholdate-logo.svg",
  "alternateName": "Aspose",
  "sameAs": [
    "https://www.aspose.com/",
    "https://www.groupdocs.com/",
    "https://www.aspose.cloud/",
    "https://www.groupdocs.cloud/"
  ],
  "contactPoint": [
    {
      "@type": "ContactPoint",
      "telephone": "+1 903 306 1676",
      "contactType": "sales",
      "areaServed": "US",
      "availableLanguage": "en"
    },
    {
      "@type": "ContactPoint",
      "telephone": "+44 141 628 8900",
      "contactType": "sales",
      "areaServed": "GB",
      "availableLanguage": "en"
    },
    {
      "@type": "ContactPoint",
      "telephone": "+61 2 8006 6987",
      "contactType": "sales",
      "areaServed": "AU",
      "availableLanguage": "en"
    }
  ]
}
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "WebSite",
  "name": ".Site.Title",
  "url": "https://www.{{.Site.Params.faviconfolder}}.{{.Site.Params.contentsection}}/",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://search.{{.Site.Params.faviconfolder}}.com/q/{search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>