<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}" dir="ltr" data-wf-page="5638966" >

     {{if in .Permalink "/404.html"}}
      {{ partial "head.html" . }}
    {{ else }}
      {{ partial "head.html" . }}
    {{ end }}
  

    {{ $CurrentSection :=.Site.Params.contentsection }}
    {{ $faviconfolder :=.Site.Params.faviconfolder }}
    {{$currentcontentpath := print $faviconfolder "/" $CurrentSection}}
        <body  class="is-boxed has-animations {{ $faviconfolder }} rtl-{{ with site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
            
        {{ if not (or (in .Site.BaseURL "qa") (in .Site.BaseURL "localhost")) }}
            {{ $googletagmanager :=.Site.Params.googletagmanager }}
            {{ if $googletagmanager }}
            <!-- Google Tag Manager (noscript) -->
                <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ $googletagmanager }}"
                height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <!-- End Google Tag Manager (noscript) -->
            {{ end }}
        {{ end }}
            {{- block "main" . }}{{- end }}   
        {{- partial "footer.html" . -}}
    </body>

  


    
</html>

{{ .Scratch.Set "varSetInBaseOf" "This variable was set in Baseof.html template"}}
