
<div class='container-fluid fourblocks sy-6 {{ "heighclass" }}' style="padding-bottom:0px!important;">
    <div class="container">
        <h4 style="font-size: 34px;margin-left: 30px;">{{ .Scratch.Get "secHeading" }}</h4>
        <p style="font-size: 18px;margin-left: 30px;">{{ .Scratch.Get "secDescription" }}</p>
        <h3 style="font-size:20px;margin-left:30px;margin-top:50px;margin-bottom: 30px;">{{ .Scratch.Get "secSubHeading" }}</h3>
        <div class="row d-start" style="border-top: 1px solid #dadce0;border-bottom: 1px solid #dadce0;">

