<div class="col-lg-6" style="border-bottom: 1px solid #dadce0;">
    <div class="blockcards bgcard1" style="background-color: var(--white);color:#000;margin-bottom:0px;">
        <!--<i class='las la-{{/* .Get "icoClass1" */}}'></i>-->
        <p style="color:#606469;font-size:14px;min-height:10px;">Platform Downloads</p>
        <h3>7,000,500</h3>
        <p style="min-height:26px;">Total downloads for .NET, Java, C++, PHP, Android, and other supported platforms.</p>
        <div class="btn-box" style="display: block;"><a
                href='sublink1'><span style="color:#0052b3;">View Platform Downloads</span></a></div>
        </div>
</div>