<div class="container-fluid metricscount">
    <div class="container">
        <div class="row metricsrow">
        <div class="col-md-12 metricsbox totalbox">
            <span class="counterbox">
             <h3>Total Downloads</h3>   
            <em id="asposetotal"
                    class="count metrics-number">53.8</em></span>
            <p><a href="/downloads/" target="_blank">View Detailed Downloads</a></p>
        </div>
        </div>

        <div class="row metricsrow">
          
            <div class="row col-md-12 metricsrow2">
                <div class="metricsbox flex-heading" style="flex: 20%;"><a href="https://products.aspose.com/pdf/net/"><span><em id="asposepdf"
                                class="count metrics-number">13</em></span>
                        <p>Aspose.PDF</p>
                    </a></div>
                <div class="metricsbox flex-heading" style="flex: 20%;"><a href="https://products.aspose.com/words/net/"><span><em
                                id="asposewords" class="count metrics-number">12.5</em></span>
                        <p>Aspose.Words</p>
                    </a></div>
                <div class="metricsbox flex-heading" style="flex: 20%;"><a href="https://products.aspose.com/cells/net/"><span><em
                                id="asposecells" class="count metrics-number">12.4</em></span>
                        <p>Aspose.Cells</p>
                    </a></div>
                <div class="metricsbox flex-heading" style="flex: 20%;"><a href="https://products.aspose.com/slides/net/"><span><em
                                id="asposeslides" class="count metrics-number">3.4</em></span>
                        <p>Aspose.Slides</p>
                </div>
                <div class="metricsbox flex-heading" style="flex: 20%;"><a href="https://products.aspose.com/slides/net/"><span><em
                     class="">View All</em></span>
            <p>Package Managers</p>
    </div>

    <div class="row col-md-12 metricsrow2">
        <div class="metricsbox flex-heading" style="flex: 20%;"><a href="https://products.aspose.com/pdf/net/"><span><em id="asposepdf"
                        class="count metrics-number">13</em></span>
                <p>Aspose.PDF</p>
            </a></div>
        <div class="metricsbox flex-heading" style="flex: 20%;"><a href="https://products.aspose.com/words/net/"><span><em
                        id="asposewords" class="count metrics-number">12.5</em></span>
                <p>Aspose.Words</p>
            </a></div>
        <div class="metricsbox flex-heading" style="flex: 20%;"><a href="https://products.aspose.com/cells/net/"><span><em
                        id="asposecells" class="count metrics-number">12.4</em></span>
                <p>Aspose.Cells</p>
            </a></div>
        <div class="metricsbox flex-heading" style="flex: 20%;"><a href="https://products.aspose.com/slides/net/"><span><em
                        id="asposeslides" class="count metrics-number">3.4</em></span>
                <p>Aspose.Slides</p>
        </div>
        <div class="metricsbox flex-heading" style="flex: 20%;"><a href="https://products.aspose.com/slides/net/"><span><em
             class="">View All</em></span>
    <p>Platforms</p>
</div>

<div class="row col-md-12 metricsrow2">
    <div class="metricsbox flex-heading" style="flex: 20%;"><a href="https://products.aspose.com/pdf/net/"><span><em id="asposepdf"
                    class="count metrics-number">13</em></span>
            <p>Aspose.PDF</p>
        </a></div>
    <div class="metricsbox flex-heading" style="flex: 20%;"><a href="https://products.aspose.com/words/net/"><span><em
                    id="asposewords" class="count metrics-number">12.5</em></span>
            <p>Aspose.Words</p>
        </a></div>
    <div class="metricsbox flex-heading" style="flex: 20%;"><a href="https://products.aspose.com/cells/net/"><span><em
                    id="asposecells" class="count metrics-number">12.4</em></span>
            <p>Aspose.Cells</p>
        </a></div>
    <div class="metricsbox flex-heading" style="flex: 20%;"><a href="https://products.aspose.com/slides/net/"><span><em
                    id="asposeslides" class="count metrics-number">3.4</em></span>
            <p>Aspose.Slides</p>
    </div>
    <div class="metricsbox flex-heading" style="flex: 20%;"><a href="https://products.aspose.com/slides/net/"><span><em
         class="">View All</em></span>
<p>Product Families</p>
</div>


    
                
            </div>
        </div>
    </div>
</div>