<div class="backlinks bg-white py-5">
    <div class=container>
      <div class=row>
        <div class="col-md-12 hc-title is-releaving">  
            <h3>{{ .Get "bklink-heading" }}</h3>
            <p>{{ .Get "bklink-content" }}</p>
            </div>
            <div class="container blcontainer">
              <div class="blslider row align-items-start">
                {{ .Inner }}
                </div>
                <div class="bl-arrows"><i class="las la-angle-left blprev mr-3"></i> <i class="las la-angle-right blnext"></i></div></div></div></div></div></div>
